.content{
    text-align: center;
}

.flag{
    width: 15rem;
}

.chartContent{
    display: flex;
    justify-content: center;
}

.countryBorders{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 200px;
    margin: auto;
    gap: 0px;
}

.countryBorders ul{
    padding-left: 1px;
    list-style-type: none;
}

.countryBorders li{
    text-align: left;
}

.countryBasicInfo{
    text-align: left;
    width: 200px;
    margin: auto;
}